{% load static %}

<!DOCTYPE html>
<html>

<head>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'kosmos/kosmos.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>
        {% if page_title %}
            {{ page_title }} |
        {% endif %}
        KOSMOS
    </title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="navigation-bar">
        <div id="kosmos-header">
            <a href="{% url 'index' %}"><img id="banner" src="{% static 'kosmos/images/kosmos_banner.png' %}"></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            my page
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'profile' request.user %}">my profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'bag' %}">my makeup bag</a>
                                <a class="dropdown-item" href="{% url 'my_collections' %}">my collections</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">log out</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'login' %}">log in</a>
                                <a class="dropdown-item" href="{% url 'register' %}">register</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'public_collections' %}">public collections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}">products</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailbox' %}">
                            <i class="far fa-envelope"></i> mailbox
                            {% if request.user.has_notifications %}
                            <i class="fas fa-exclamation-circle"></i>
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <form class="form-inline" action="{% url 'search' %}" method="get">
                    <input name='q' class="form-control mr-sm-2" type="search" placeholder="Search KOSMOS..." aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Go</button>
                </form>
            </div>
        </nav>
    </div>

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert"> 
        {% elif message.tags == "error" %}
            <div class="alert alert-danger" role="alert">
        {% else %}
            <div class="alert alert-primary" role="alert">
        {% endif %}
                {{ message }}
            </div>
    {% endfor %}
{% endif %}
<div id="block-body">
    {% block body %}
    {% endblock %}
</div>
</body>

</html>