{% extends 'kosmos/product_layout.html' %}
{% load static %}

{% block page_numbers %}
{% if products.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if 1 not in page_num_range %}
                <li class="page-item"><a class="page-link" href="?page=1&q={{query}}">First</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a></li>
            {% endif %}
            {% if products.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}&q={{ query }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
            {% endif %}
            {% for i in page_num_range %}
                {% if products.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}&q={{ query }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ query }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}&q={{ query }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
            {% endif %}
            {% if last_page not in page_num_range %}
                <li class="page-item"><a class="page-link" href="?page={{ last_page }}&q={{query}}">Last</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}