body {
  font-family: Calibri;
}

#block-body {
  padding: 50px;
}

#index-logo {
  margin: 20px;
  height: 60vh;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  font-weight: 600;
}

#table-contents {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.index-header {
  text-align: center;
  padding: 10px;
}

button, .view-collect-status {
  border-color: #78B2C5;
  background-color: #DCE5ED;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-style: solid;
  transition: 1s;
}

.view-collect-status {
  display: inline-block;
  background-color: #78B2C5;
  color: white;
}

.unedited {
  display: inline;
}

button {
  margin-bottom: 10px;
}

button:hover {
  border-color: #DCE5ED;
  background-color: #78B2C5;
  color: white;
  transition: 1s;
}

#collections-header h1 {
  display: inline-block;
}

#collections-header button {
  float: right;
}

#collections-header {
  margin-bottom: 10px;
}

#banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.banner-choice {
  width: 40%;
  float: left;
  padding: 5px;
}

.view-collect-img {
  width: 100%;
}

.navbar-custom {
  background-color: #78B2C5;
}

.nav-link {
  color: white;
  font-style: italic;
}

.item-img {
  height: 15rem;
}

.product-img {
  width: 60%;
}

.col {
  overflow: hidden;
}

.product-container {
  margin: 1rem;
}

.bag-item {
  border-color: lightgrey;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.collection-short-dscrpt p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

#view-product-colours {
  list-style: none;
  padding-left: 0;
}

.view-product-img {
  height: 60vh;
}

.fa-heart, .fa-star {
  color: #51B6FF;
}

#socials, #statistics {
  text-align: center;
}

#socials i {
  color: #78B2C5;
  font-size: xx-large;
  margin: 10px;
}

#socials i:hover {
  color: #DCE5ED;
}

.card {
  margin: 0.5rem;
}

.tiny-text {
  color: grey;
  font-size: x-small;
}

#stats-hearts {
  font-size: xx-large;
}

#edit-block {
  padding-top: 25px;
  padding-bottom: 25px;
}

#index-body {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.index-img {
  height: 25vh;
  margin: 20px;
}

.remove-notif {
  margin-bottom: 0;
}

.alert {
  margin: 1rem;
}

.navbar-toggler {
  color: white;
  border-color: white;
}

#collection-cards {
  display: grid;
  grid-template-columns: auto auto;
}

#collection-items {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
}

#add-product-form {
  background-color: #78B2C5;
  color: white;
  border-color: #DCE5ED;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

input {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  .product-img {
    height: 100%;
    width: auto;
  }

  #collection-cards {
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=kosmos.css.map */
